@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-screen-2xl{
  max-width: 100% !important;
}

/* HomeProductCarousel.css */

.slick-slider {
  display: flex;
  justify-content: center;
}

.carousel-item {
  margin: 0 auto; /* Bu, carousel içindeki her öğeyi yatayda ortalar */
}
